<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Admin</title>
  <link rel="stylesheet" href="../static/resize-image.css"
</head>  

<body>
  {% if session.user_id %}
    <b> Logged in as {{ session.username }}</b><br>
    <a href="/logout">Logout</a><br>
    {% if session.admin %}
      <a href="/admin">Admin</a><br>
    {% endif %}
    <a href="/addalbum">Add a new album and review</a><br>
  {% else %}
    <a href="/login">Login</a><br>
    <a href="/register">Register</a><br>
  {% endif %}
  <a href="/albums">Browse albums and reviews</a><br>
  <a href="/">Go back to front page</a><br>
  <hr>


  <br><br>
  {% if session.admin %}
    <h4>admin in the house</h4>
    <a>Find by name. Name has to be exact or left empty to get all users</a><br>
    <form action="/admin" method="POST" enctype="multipart/form-data">
      <input type="text" name="user" value=""/> {{ message_none_found }}<br>
      <input type="submit" value="search"><br>
    </form>
    <hr>

    <h5>Promote or demote user to/from admin</h5>
    {% if users %}
      {% for user in users %}
        <a>id: {{ user.id }}, username: {{ user.username }} <br>
           admin: {{ user.is_admin }} </a>
        <form action="/toggle/admin" method="POST" enctype="multipart/form-data"></form>  
          {% if user.is_admin == "True" %}
            <input type="submit" value="demote"><br><br>
          {% else %}
            <input type="submit" value="promote"><br><br>
          {% endif %}
          <input type="hidden" name="user_id" value="{{ user.id }}">
          <input type="hidden" name="username" value="{{ user.username }}">
          <input type="hidden" name="is_admin" value="{{ user.is_admin }}">
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
      {% endfor %}

    {% else %}
      {{ message_none_found }}
    {% endif %}
  {% endif %}
</body>