<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Album</title>
  <link rel="stylesheet" href="../static/resize-image.css"
</head>  

<body>
  {% if session.user_id %}
    <a href="/logout">Logout</a><br>
    {% if session.admin %}
      <a href="/admin">Admin</a>
    {% endif %}
    <a href="/addalbum">Add a new album and review</a><br>
  {% else %}
    <a href="/login">Login</a><br>
    <a href="/register">Register</a>
  {% endif %}
  <a href="/">Go back to front page</a><br>
  <a href="/albums">Browse albums and reviews</a><br>
  <hr>

  <br><br>
  {% if session.admin %}
    <h4>admin in the house</h4>
  {% endif %}
  <div class="center">
    <h3>{{ album.artist }}</h3><br>
    <b>{{ album.album_name }}</b><br>
    <img src="data:;base64, {{ cover_image }}" alt=""><br>
    <a>({{ album.release_year }})</a><br>
    <!--b>user id: {{ album.user_id }}</b><br>
    <a>date added: {{ album.date_added }}</a><br-->
    <a>{{ album.genre }}</a><br>
  </div>
  {% for i in range(0, songs_len) %}
    <form action="/thumb" method="POST" enctype="multipart/form-data">
      <a>{{ songs[i].song_name }} - {{ songs[i].song_len_min }}min {{ songs[i].song_len_sec }}sec</a>
      <a> [</a>
      {% if thumbs[i] and thumbs[i].thumb > 0 %}
        {% for j in range(0, thumbs[i].thumb) %}
          <a>|</a>
        {% endfor %}
        {% for j in range(0, (5 - thumbs[i].thumb)) %}
          <a>·</a>
        {% endfor %}
      {% else %}
          <a>·····</a>
      {% endif %}
      <a>] </a>

      <button type="submit" name="thumb" value="1">🡅</button>
      <button type="submit" name="thumb" value="-1">🡇</button><br>
      <input type="hidden" name="song_id" value="{{ songs[i].id }}">
      <input type="hidden" name="user_id" value="{{ album.user_id }}">
      <input type="hidden" name="album_id" value="{{ album.id }}">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
  {% endfor %}

  <br>

  {% for review in reviews %}
    <a>-----<br>
      grade: {{ review.grade }}<br>
      {{ review.comment }}<br>
      user: {{ review.username }}<br>
    </a>-----<br>
  {% endfor %}
  {% if session.user_id %}
    <form method="POST" enctype="multipart/form-data">
      <a>Grade</a><br>
      <a>- 1 - 2 - 3 - 4 - 5 -</a><br>
      <input type="radio" name="grade" value="1" checked>
      <input type="radio" name="grade" value="2" checked>
      <input type="radio" name="grade" value="3" checked>
      <input type="radio" name="grade" value="4" checked>
      <input type="radio" name="grade" value="5" checked><br><br>
    
      <a>Review album:</a><br>
      <textarea name="comment" rows="5" cols="60"></textarea>{{ message_comment }}<br>
      <input type="submit" value="Add review">{{ message_adding }}<br>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
  {% else %}
    <h4>Login to review the album album</h4>
  {% endif %}
  
</body>