<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Albums</title>
</head>  

<body>
  {% if session.user_id %}
    <a href="/logout">Logout</a>
    <a href="/addalbum">Add a new album and review</a><br>
  {% else %}
    <a href="/login">Login</a><br>
    <a href="/register">Register</a>
  {% endif %}
  <a href="/">Go back to front page</a>

  <h1>Albums</h1>
  <a>Sort albums:</a><br>
  <form>
    <select name="sort">
      <option value="dates_asc">dates ascending</option>
      <option value="dateas_desc">dates descending</option>
      <option value="albums_asc">albums ascending</option>
      <option value="albums_desc">albums descending</option>
      <option value="artists_asc">artists ascending</option>
      <option value="artists_desc">artists descending</option>
      <option value="grades_asc">grades ascending</option>
      <option value="grades_desc">grades descending</option>
    </select>
    <button type="submit">submit</button>
  </form>
  
  {% for i in range(0, len) %}
    <img src="data:;base64, {{ images[i] }}" alt=""><br>
    <a>Rating: [</a>
    {% for j in range(0, album.grade) %}
      <a>|</a>
    {% endfor %}
    {% for j in range(0, (10 - album.grade)) %}
      <a>·</a>
    {% endfor %}
    <a>]</a><br>
    <a href="/artist/{{ albums[i].artist }}">{{ albums[i].artist }}</a><br>
    <a href="/album/{{ albums[i].id }}">{{ albums[i].album_name }}</a><br>
    <a>{{ albums[i].username }}</a><br>
    <i>{{ albums[i].date_added.strftime("%Y-%m-%d %H:%M") }}</i><br><br>
  {% endfor %}

</body>
