<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Artist</title>
  <link rel="stylesheet" href="../static/resize-image.css">
</head>  

<body>
  <div class="simpmargin">
    {% if session.user_id %}
      <b> Logged in as {{ session.username }}</b><br>
      <a href="/logout">Logout</a><br>
      {% if session.admin %}
        <a href="/admin">Admin</a><br>
      {% endif %}
      <a href="/addalbum">Add a new album and review</a><br>
    {% else %}
      <a href="/login">Login</a><br>
      <a href="/register">Register</a><br>
    {% endif %}
    <a href="/albums">Browse albums and reviews</a><br>
    <a href="/">Go back to front page</a><br>
  </div>
  <hr>
  
  <br>
  <div class="center">
    <h3>{{ artist_name }}</h3><br>
    {% for i in range(0, len) %}
      <a href="/album/{{ albums[i].id }}">{{ albums[i].album_name }} ({{ albums[i].release_year }})</a><br>
      <a>{{ albums[i].genre }}</a><br>
      <img src="data:;base64, {{ images[i] }}" alt=""><br>
      <hr>
    {% endfor %}
  </div>

</body>