<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Levyraati</title>
</head>  

<body>
  {% if session.user_id %}
    <b> Logged in as {{ session.username }}</b><br>
    <a href="/logout">Logout</a><br>
    {% if session.admin %}
      <a href="/admin">Admin</a>
    {% endif %}
    <a href="/addalbum">Add a new album and review</a><br>
  {% else %}
    <a href="/login">Login</a><br>
    <a href="/register">Register</a><br>
  {% endif %}
  <a href="/albums">Browse albums and reviews</a><br>
  <hr>
  
  <h1>Welcome to Levyraati</h1>
  <h3>New albums</h3>
  {% for i in range(0, len) %}
    <img src="data:;base64, {{ images[i] }}" alt=""><br>
    <a href="/artist/{{ albums[i].artist }}">{{ albums[i].artist }}</a><br>
    <a href="/album/{{ albums[i].album_id }}">{{ albums[i].album_name }}</a><br>
    <a>{{ albums[i].username }}</a><br>
    <i>{{ albums[i].date_added.strftime("%Y-%m-%d %H:%M") }}</i><br><br>
  {% endfor %}




  
</body>
