<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="../static/resize-image.css">
</head>

<body>
  <div class="simpmargin">
    {% if session.user_id %}
      <b> Logged in as {{ session.username }}</b><br>
      <a href="/logout">Logout</a><br>
      {% if session.admin %}
        <a href="/admin">Admin</a><br>
      {% endif %}
      <a href="/addalbum">Add a new album and review</a><br>
    {% else %}
      <a href="/login">Login</a><br>
      <a href="/register">Register</a><br>
    {% endif %}
    <a href="/albums">Browse albums and reviews</a><br>
    <a href="/">Go back to front page</a><br>
  </div>
  <hr>
  
  <h1>Login</h1>
  <form action="/login" method="POST">
    <p>Username:<br>
      <input type="text" name="username" required>
    </p>
    <p>Password:<br>
      <input type="password" name="password" required>
    </p>
    <p>Login?
      <input type="submit" value="Do it"><br>{{ login_error_message }}
    </p>
  </form>
</body>
