<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Register</title>
</head>

<body>
  {% if session.user_id %}
    <a href="/logout">Logout</a><br>
    {% if session.admin %}
      <a href="/admin">Admin</a>
    {% endif %}
    <a href="/addalbum">Add a new album and review</a><br>
  {% else %}
    <a href="/login">Login</a><br>
  {% endif %}
  <a href="/">Go back to front page</a><br>
  <a href="/albums">Browse albums and reviews</a><br>
  <hr>
  
  <h1>Create new account</h1>
  {{ message }}
  <form action="/register" method="POST">
    <p>Username:<br>
      <input type="text" name="username">{{ message_user }}
    </p>
    <p>Password:<br>
      <input type="password" name="password1"><br>{{ message_password }}
      Repeat password:<br>
      <input type="password" name="password2"><br>
    </p>
    <a>Want to try being an admin?</a><br>
    <label for="admin"> yes</label>
    <input type="checkbox" id="admin" name="admin" value="true">
    
    <p>Register account?
      <input type="submit" value="Register">{{ message }}
    </p>
  </form>
</body>
